.faq-plugin-accordion {
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 26px;
}

.faq-plugin-item+.faq-plugin-item {
	border-top: 1px solid #e2e2e2;
}

.faq-plugin-question {
	margin: 0;
}

.faq-plugin-toggle {
	width: 100%;
	text-align: left;
	padding: 12px 16px;
	font-size: 16px;
	border: none;
	background: #f7f7f7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.faq-plugin-toggle:focus {
	outline: 2px solid #2271b1;
	outline-offset: 2px;
}

.faq-plugin-answer {
	padding: 0 16px 12px;
}

.faq-plugin-answer__content {
	margin-top: 8px;
}

.faq-plugin-icon {
	width: 12px;
	height: 12px;
	border-left: 2px solid #555;
	border-bottom: 2px solid #555;
	transform: rotate(-45deg);
	transform-origin: center;
	transition: transform 0.2s ease;
}

.faq-plugin-toggle[aria-expanded="true"] .faq-plugin-icon {
	transform: rotate(135deg);
}

.faq-plugin-question__text {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.faq-plugin-question__number {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 24px;
	height: 24px;
	border-radius: 50%;
	/*background: #2271b1;
	color: #fff;*/
	font-size: 13px;
	line-height: 1;
}